.user-img {
    border-radius: 100px;
    border: 10px solid green;
    width: 200px;
    margin: 20px;
}
h1 {
    text-align: center;
    color: red;
}
h2 {
    color: red;
}
.row1, .row3 {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
}
.row2, .row4 {
    display: flex;
    flex-direction: row;
    gap: 85px;
    padding-left: 300px;
    text-align: center;
    line-height: 0;
}

