.img {
    margin: 50px 0 0 120px;
}

.myTV_name {
    margin: 100px 0 0 200px;
    font-weight: bolder;
    color: whitesmoke;
}

body {
    background-image: url('film.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}

.film_name {
    margin: 100px 0 0 100px;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}

#film {
    font-weight: bolder;
    color: yellow;
}

img {
    width: 250px;
}

button {
    width: 70px;
    height: 50px;
    border-radius: 15px;
    background-color: rgba(255, 255, 0, 0.616);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

input {
    width: 400px;
    height: 50px;
    border: 3px solid black;
    border-radius: 15px;
}

form {
    margin: 200px 0 0 50px;
}

.myTV {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}